@import url(https://fonts.googleapis.com/css?family=Montserrat);

a {
  text-decoration: none;
  color: black;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/*Estilos generales.*/

.link-ga {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}
.link-ga:hover {
    transition: all .3s ease;
}

main {
    height: auto;
}

#agradecimientos {
    margin-top: 10px;
}

.effectTxt {
    font-size: 15px;
    font-weight: 600;
    background-color: ORANGE;
    animation: opacityColor 1s infinite linear;
    border-radius: 4px;
    padding: 4px;
}

@keyframes opacityColor {
    0% {
        background-color: rgba(255, 0, 0, 0.3)
    }

    1% {
        background-color: rgba(255, 0, 0, 0.2)
    }

    100% {
        background-color: rgba(255, 0, 0, 0.1)
    }
}

.cont-img-contact {
  position: relative;
}

.imagen-contact {
  border-radius: 50%;
}
.popMsj {
  position: absolute;
  top: -13px;
  right: 330px;
  width: 40%;
  height: 100px;
  background-color: wheat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 0 40px;
}
.popMsj::after {
  content: "";
  position: absolute;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid wheat;
  border-right: 40px solid transparent;
  top: 30px;
  right: -40px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 480px) {
  .cont-img-contact {
    margin-top: 30px;
  }
  .popMsj {
    right: 70px;
    top: 290px;
    width: 300px;
    border-radius: 40px 0 40px 40px;
    background-color: rgba(245, 222, 179, 0.829);
  }
  .popMsj::after {
    display: none;
  }
}

footer {
  background-color: rgb(247, 243, 236);
  padding: 10px;
}

.ico-footer {
  font-size: 25px;
  padding:10px;
}

.linkedin {
  color: #4D163D;
}

.github {
  color: #840037;
}